.node-info {
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.node-info-close {
    font-size: 1.5em;
    cursor: pointer;
}

.node-info-container {
    position: absolute;
    overflow: auto;
    top:80px;
    right:1%;
    width:30%;
    max-height:90%;
    border: 1px solid #bbb;
    padding: 0.5em;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

.node-info-container li {
    padding: 0.7em 1em 0.5em 0.7em;
}
.node-info-header{
    padding: 0;
}

.childList .text {
    margin:0;
}

.node-info-container .card:not(.nested) {
    border-radius:0;
    border-left:0;
    border-right:0;
}

.node-info-container .card-header {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0;
}


.node-info-container .card-header:hover:not(.no-cursor) {
    cursor: pointer;
}

.childList .schema-form {
    padding: 0.5em 1.5em 1em 1.5em;
}
.childList .schema-form-buttons {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width:100%;
}
.childList .select {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width:100%;
}
.childList fieldset{
    width:100%;
}
.childList .field-object .form-group:not(.nested) {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}
.childList .field-object .nested-key {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}


.object-header legend {
    font-size:1.2rem;
    margin-bottom: 0.3em;
}

.childList .form-group label { 
    margin:0;
    width:25%;
    font-size:0.9em
}
.childList .form-group .field input,.childList .form-group .field .select { 
    width:75%;
}

.childList .form-group .select select { 
    width:75%;
}

.childList .form-group .field .select select { 
    width: 100%;
}

.childList .additional{ 
    width: 100%;
}
.childList .additional > input { 
    margin:0;
    width:25% !important;
    font-size:0.9em
}
.childList .additional > .ap-value { 
    width:65%;
}
.childList .additional > .ap-value > input{ 
    width:100%;
    font-size:0.9em;
}


.childList .errors {
    display:none;
}
.childList .form-group .field { 
    margin-bottom: 0.5em
}
.childList .form-group h5,.childList .form-group h6 { 
    margin:0;
}

.childList .form-group:not(.field) .select {
    margin-bottom:0;
}
.childList .form-group:not(.field) {
    margin-bottom:0.5em;
}

.add-child-card .card-header{
    background-color: #fff;
}

.add-child-section {
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
}
.add-child-section form {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.add-child-section input,.add-child-section select {
    margin-right:0.5em;
}

.field-object {
    margin-bottom: 0;
    justify-content: space-between;
}

.array-title {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.array-header, .object-header {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.array-header, .array-title {
    margin-bottom: 0.5em;
}

.array-container {
 width:100%
}

.object-container {
    width:100%;
}

.ap-key {
    width:100%;
    margin-right:2%;
}

.ap-value {
    width:100%;
    margin-right:2%;
}

.nextnode {
    width:100%;
    margin-bottom:0;
}

.nextnode .card-body {
    padding:0.75em;
}

.nextnode .card-header {
    margin-bottom:0 !important;
}
.nextnode .card-header .badge {
    margin-left: 0.5em;
}
.nextnode .card-header h5{
    margin: 0;
}

.nextnode-branch .nextnode-branch-item:not(:first-child) {
    border-top:1px solid #ddd;
    padding-top:0.75em;
}
.nextnode-branch .nextnode-branch-item {
    margin-bottom: 0.75em;
}


.nextnode-branch-item {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextnode-buttons {
    align-self: flex-start;
}

.nextnode-checkbox {
    overflow:auto;
}

.nextnode-branch em {
    padding:0;
    font-weight: bold;
}

.nextnode-item {
    width:100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0.3em;
}
.nextnode-item h5 {
    margin:0;
}

.nextnode-item-key {
    padding-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextnode-item-key div {
    display: flex;
    align-items: center;
}
.add-node {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.add-node .btn-group {
    width: 300px;
    margin-left: 0.5em;
}

.grey {
    text-align:center;
    color: #ccc;
}

.info-container {
    border-left: 2px solid #fafafa;
    padding-left: 1.2em;
}

.node-info input {
    margin-right: 1em;
}